body{
margin: 0;
padding: 0;


}
.izquierda{
    background: #FCD21D;
    height: 100vh;

}

.derecha{
    background:url(../JSFS-CSS-lab/images/descarga.jpg) ;
    background-size:cover ;
    background-position: center;
    width: 50%;
    height: 100vh;

}
#pantalla-dividida{
    display: flex;
    
}